*{
    padding: 0px; margin: 0px; 
}
button {
    background: #000;
    color: #fff;
    border: 0px;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 4px;
    text-transform: uppercase;
}
